:root {
    --main-article-font: ;
    --main-article-size: 16pt;
}

h1 {
    font-size: 20pt;
}

p {
    margin-top: 25px;
}

.article {
    font-family: var(--main-article-font);
    font-size: var(--main-article-size);
}