h1{
    font-size: 20pt;
    margin-bottom: -5px;
}

span{
    margin-top: 30px;
    transition: color 0.5s;
}

input{
    font-family: 'PT Serif', serif;
    font-size: 16pt;
    margin-top: 5px;
    max-width: 350px;
}
