#progress-bar-outline {
    background-color: beige;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

#progress-bar-inline {
    margin: 0;
    padding: 0;
    background-color: black;
    transition: width 1.5s;
    width: 0%;
    height: 4px;
    border-radius: 2px;
}